
.container .title {
  color: #ffffff;
  font-size: 3rem;
  text-align: center;
  margin: 2rem 0 1rem;
}

.title .query-text {
  color: #008BE2;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.movies-container div {
  width: 20%;
  color: #fff;
  margin-bottom: 1rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #024873;
  padding: 1rem;
  border-radius: 3%;
}

.movies-container div img {
  max-width: 100%;
}

.movies-container div img,
.movies-container div p {
  margin-bottom: 1rem;
}

.movies-container div h2 {
  margin-bottom: 1rem;
}

.movies-container div svg {
  color: #008BE2;
}

.movies-container div a {
  background-color: #008BE2;
  border: 2px solid #008BE2;
  border-radius: 20px;
  color: #012840;
  padding: 1rem 0.5rem;
  text-align: center;
  font-weight: bold;
}

.movies-container div a:hover {
  background-color: transparent;
  color: #008BE2;
}
