.contactcard-container {
    display: flex;
    align-items: center;
    border: 1px solid white;
    padding: 20px 10px;
    margin-bottom: 5px;
    height: 50px;

}

.contactcard-container > img {
    width: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.contactcard-container h4 {
    margin-bottom: 15px;
}

.contactcard-container > div {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}
