* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #024873;
}

a {
  text-decoration: none;
  color: #008BE2;
  transition: 0.2s;
}

a:hover {
  color: #000000;
}
